#rating {
    --rating-background: #ffffff;
    --rating-border: #f1f3ff;
}

.rating-callcenter-row {
    position: relative;
    padding: 1rem 1.5rem;
    border: 1px solid var(--rating-border);
    border-radius: .5rem;
    background: var(--rating-background);
    color: #313131;
    transition: .3s;
}

.rating-row-color-blue {
    background: #dbd9ff;
    border-color: #c9c6ff;
    color: #2e2a82;
}
.rating-row-color-green {
    background: #b4ffb4;
    border-color: #a3ffa3;
    color: #2b542b;
}
.rating-row-color-yellow {
    background: #ffffb8;
    border-color: #ffff8a;
    color: #5f5f1a;
}
.rating-row-color-red {
    background: #ffcfcf;
    border-color: #fcc;
    color: #5a1d1d;
}
.rating-row-color-gray {
    background: #e8e8e8;
    border-color: #e6e6e6;
    color: #6f6f6f;
}

.efficiency-bars {
    margin-right: -.25rem;
    margin-left: -.25rem;
}
.efficiency-bar {
    width: 50%;
    height: 4px;
    border-radius: 2px;
    margin: 0 .25rem;
    opacity: .8;
    overflow: hidden;
}

.efficiency-bar:hover {
    opacity: 1;
}

.efficiency-bar > div {
    height: 100%;
}
.efficiency-bar-comings > div {
    background: #9b1818;
}
.efficiency-bar-agreements > div {
    background: #0aae18;
}

.rating-row-color-blue .efficiency-bar { background: #b9b6f0; }
.rating-row-color-green .efficiency-bar { background: #8ded8d; }
.rating-row-color-yellow .efficiency-bar { background: #dada62; }
.rating-row-color-red .efficiency-bar { background: #ffbbbb; }
.rating-row-color-gray .efficiency-bar { background: #d8d8d8; }

.rating-callcenter-row:not(:last-child) {
    margin-bottom: 1rem;
}

.rating-callcenter-row .ui.header,
.rating-callcenter-row .sub.header {
    color: inherit !important;
}

.rating-info-rows > * {
    display: flex;
    align-items: center;
}
.rating-info-rows > * > *:not(:last-child) {
    margin-right: .7rem;
}

.rating-show-dates {
    position: absolute;
    right: -0.9rem;
    bottom: .1rem;
    opacity: .6;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
}
.rating-show-dates:hover {
    opacity: 1;
}

.rating-show-dates.showing {
    transform: rotate(540deg);
}

.rating-dates .row {
    padding: .5rem 0 !important;
}
.rating-dates .column {
    margin: 0 !important;
}

.rating-chart-row:not(:last-child) {
    margin-bottom: 1rem;
}