.input-loading,
.user-content {
    max-width: 560px;
    width: 100%;
    box-shadow: none !important;
}

.content-users-items {
    padding: .5rem !important;
}

.users-item {
    max-width: 800px;
    display: block;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border: 1px solid var(--border-admin-segment);
    background: #ffffff;
    border-radius: .5rem;
}

.users-item.user-fired {
    border-color: #ffeeee;
    background-color: #fff4f4;
}

.users-item.user-online {
    border-color: #eeffee;
    background-color: #f5fff4;
}

.users-item.user-online.user-fired {
    animation: blink-user-fired 1s infinite step-start;
}

@keyframes blink-user-fired {
    25% {border-color: var(--border-admin-segment); background: #ffffff; }
    50% { border-color: #ffeeee; background-color: #fff4f4; }
    75% { border-color: #eeffee; background-color: #f5fff4; }
}

.right-field {
    padding-right: 0 !important;
}

.user-item-header {
    line-height: 1.7rem;
}

.user-pin {
    margin-right: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.user-full-name {
    font-size: 1.5rem;
}

.change-password {
    border: 1px solid #e0e1e2 !important;
    margin: 0 !important;
}

.loading-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.loading-checkbox .ui.loader:before {
    border-color: #00000093 !important;
}

.row-rights {
    padding: .3rem .8rem;
    border-radius: .4rem;
    margin: .2rem auto;
}
.row-rights .checkbox {
    margin-top: 4px;
}
.row-rights:hover {
    background: #f8f8f8;
}

.row-rights.row-rights-error {
    background: #fff3f3;
}
.row-rights.row-rights-error:hover {
    background: #ffeded;
}

.users-cards {
    flex: 0 0 calc(33.333333% - 0.5rem);
    max-width: calc(33.333333% - 0.5rem);
    box-shadow: none !important;
    border: 1px solid var(--border-admin-segment) !important;
    margin: .25rem !important;
}
