.input-loading,
.user-content {
    max-width: 560px;
    width: 100%;
    box-shadow: none !important;
}

.content-users-items {
    padding: .5rem !important;
}

.users-item {
    max-width: 800px;
    display: block;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    background: #ffffff;
    border-radius: .5rem;
}

.right-field {
    padding-right: 0 !important;
}

.user-item-header {
    line-height: 1.7rem;
}

.user-pin {
    margin-right: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.user-full-name {
    font-size: 1.5rem;
}

.change-password {
    border: 1px solid #e0e1e2 !important;
    margin: 0 !important;
}
