.admin-content {
    display: flex;
    justify-content: space-between;
}

.admin-menu {
    position: fixed;
    top: 35px;
    bottom: 0;
    width: 220px;
    padding: .5rem 0;
    background-color: #5b618f;
}

.admin-content-body {
    flex-grow: 1;
    margin-left: 235px;
    margin-top: .5rem;
}

.admin-menu-block {
    margin-bottom: 1rem;
}
.admin-menu-block > h5 {
    margin-bottom: .5rem;
    padding: 0 1rem;
    color: #ffffff;
    font-size: 120%;
}
.admin-menu-block > .h5-icons {
    margin-bottom: .5rem;
    padding: 0 1rem;
    color: #ffffff;
    display: flex;
}

.admin-menu-point {
    display: block;
    background: #5b618f;
    padding: .5rem .5rem;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
}
.admin-menu-point.active {
    background: #494e76;
}
.admin-menu-point:hover {
    background: #f6f6ff;
    color: #000000;
}

.admin-menu-point i.icon {
    opacity: .4;
    margin-right: .5rem;
}
.admin-menu-point > span {
    opacity: .8;
}
.admin-menu-point:hover i.icon,
.admin-menu-point > span {
    opacity: 1;
}
.admin-menu-point.active i.icon {
    opacity: 1;
    color: #d36464;
}

.cell-icons i.icon {
    margin: 0 .1rem !important;
}

.role-name:not(:last-child):after {
    content: ", ";
}

.buttons-select {
    margin-bottom: .3rem;
}
.buttons-select > div {
    width: 100%;
}
