* {
    --border-admin-segment: #f1f3ff;
}

.admin-content {
    display: flex;
    justify-content: space-between;
}

.admin-menu {
    position: fixed;
    top: 48px;
    bottom: 0;
    width: 220px;
    padding: .5rem 0;
    background-color: #5b618f;
}

.admin-content-body {
    flex-grow: 1;
    margin-left: 220px;
    margin-top: 1rem;
    padding: 0 .5rem;
}

.admin-content-segment {
    position: relative;
    margin-bottom: 1rem;
    padding: .7rem 1rem;
    border-radius: .5rem;
    border: 1px solid var(--border-admin-segment);
    background: #ffffff;
}

.admin-content-segment > .dimmer {
    border-radius: .5rem;
}

.admin-menu-block {
    margin-bottom: 1rem;
}
.admin-menu-block > h5 {
    margin-bottom: .5rem;
    padding: 0 1rem;
    color: #ffffff;
    font-size: 120%;
}
.admin-menu-block > .h5-icons {
    margin-bottom: .5rem;
    padding: 0 1rem;
    color: #ffffff;
    display: flex;
}

.admin-menu-point {
    display: block;
    background: #5b618f;
    padding: .5rem .5rem;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
}
.admin-menu-point.active {
    background: #494e76;
}
.admin-menu-point:hover {
    background: #f6f6ff;
    color: #000000;
}

.admin-menu-point i.icon {
    opacity: .4;
    margin-right: .5rem;
}
.admin-menu-point > span {
    opacity: .8;
}
.admin-menu-point:hover i.icon,
.admin-menu-point > span {
    opacity: 1;
}
.admin-menu-point.active i.icon {
    opacity: 1;
    color: #d36464;
}

.cell-icons i.icon {
    margin: 0 .1rem !important;
}

.role-name:not(:last-child):after {
    content: ", ";
}

.buttons-select {
    margin-bottom: .3rem;
}
.buttons-select > div {
    width: 100%;
}

.flex-segments > div {
    min-width: 250px;
}
.flex-segments > div:not(:last-child) {
    margin-right: 1rem;
}

.admin-content-segment .divider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .7rem;
    padding-bottom: .7rem;
    border-bottom: 1px solid var(--border-admin-segment);
}

.admin-content-segment .divider-header h3 {
    margin: 0;
}

.admin-content-segment .header {
    margin: 0;
}

.callcenter-select-row { 
    border-radius: .25rem;
    margin: .1rem auto;
    cursor: pointer;
}
.callcenter-select-row > * {
    padding: .5rem;
}
.callcenter-select-row.callcenter-selected {
    background: #fafafa;
}
.callcenter-select-row:hover {
    background: #f7f8ff;
}

.clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resource-switch {
    position: relative;
    margin: .25rem auto;
    padding: .1rem 0;
}
.resource-checkbox, .resource-name .icon {
    opacity: .6;
    transition: .2s;
}
.resource-switch:hover .resource-checkbox,
.resource-switch:hover .resource-name .icon {
    opacity: 1;
}

.column-table-info {
    display: flex;
    justify-content: space-start;
    margin: .2rem auto;
}

.column-table-info > *:not(:last-child) {
    margin-right: .25rem;
}

.code-row {
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: solid 1px #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #E74C3C;
    overflow-x: auto;
}
.code-row-blue {
    color: #3c72e7;
}

.where-block {
    padding: .5rem 0 1rem;
}
.where-block:not(:first-child) {
    padding-top: 1rem;
    border-top: 1px solid var(--border-admin-segment);
}

.where-row {
    padding-left: 1rem;
    border-left: 3px solid #c1c6f2;
}

.where-row .ui.selection.dropdown {
    min-width: auto !important;
}

.where-row .fields, .where-block .fields {
    align-items: end;
}

.ui.toggle.checkbox.permites-check label {
    padding-top: 2px;
}
.ui.toggle.checkbox.permites-check:not(:first-child) {
    margin-top: .5rem;
}

.selected-all > *:not(:last-child) {
    margin-bottom: 1rem;
}

.tab-list-move {
    background-color: #f5f5f5;
}