.btn-scrolll-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: .5rem;
    border-radius: 50%;
    border: 1px solid #313a46;
    cursor: pointer;
    background-color: #313a46;
    color: #ffffff;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease;
}
.btn-scrolll-top:hover {
    background-color: #434d5a;
}

.btn-scrolll-top.showBtn {
    opacity: 1;
    transform: translateY(0)
}