#sub-root, #root {
    height: 100%;
}

.bg-dark-my {
    background-color: #767676;
    color: #ffffff;
}

.position-fixed-for-ad {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tabs-selecter {
    width: 220px;
    max-width: 220px;
    min-width: 220px;
    background-color: #ffffff;
    min-height: 100%;
    overflow-y: auto;
    flex-grow: 1;
}

.react-datepicker {
    max-width: 206px;
    margin: 0 auto;
}
.react-datepicker__month-container { max-width: 204px; }
.react-datepicker__month { margin: .5rem 0 !important; }
.react-datepicker__day { margin: .07rem !important; }

.ui.input.error > input {
    color: #9f3a38;
    border-color: #e0b4b4;
    background-color: #fff6f6;
}
.ui.input.error > input:active,
.ui.input.error > input:focus {
    color: #9f3a38;
    border-color: #e18e8e;
    background-color: #fff6f6;
}

.counter-header {
    background: #ffffff;
}

.counter-header-row {
    margin-right: 1rem;
    display: flex;
}
.counter-header-row-disabled {
    opacity: .5;
}
.counter-header-row > .icon {
    margin-left: .5rem !important;
}
.counter-header-row > .title-count {
    margin-right: .5rem !important;
}

.add-coasts {
    font-weight: 700;
    color: #5c5cff;
}

.green-ip-row {
    background-color: #daffb5;
    font-weight: 700;
    border-radius: .25rem;
}

.color-item-green {
    background-color: #daffb53f;
}

.counter-row {
    display: flex;
    max-width: 80%;
    margin: .3rem auto;
    padding: .25rem .5rem;
    cursor: default;
}
.counter-row:hover {
    background: #f8f8f8;
    border-radius: .25rem;
}
.counter-row > * {
    min-width: 50px;
    text-align: center;
}
.counter-row-title {
    flex-grow: 1;
    text-align: left;
}

.ad-costs-add-body > div > strong {
    margin-right: .5rem;
}

.error-row-cost:hover {
    border-radius: .25rem;
    background: #f8f8f8;
}