#sub-root, #root {
    height: 100%;
}

.bg-dark-my {
    background-color: #767676;
    color: #ffffff;
}

.position-fixed-for-ad {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tabs-selecter {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    background-color: #ffffff;
    min-height: 100%;
    overflow-y: auto;
    flex-grow: 1;
}

.ui.input.error > input {
    color: #9f3a38;
    border-color: #e0b4b4;
    background-color: #fff6f6;
}
.ui.input.error > input:active,
.ui.input.error > input:focus {
    color: #9f3a38;
    border-color: #e18e8e;
    background-color: #fff6f6;
}