.call-detail-record {
    padding: 1rem;
    border-radius: .25rem;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-detail-record:not(:last-child) {
    margin-bottom: .5rem;
}

.call-detail-record-direction-in {
    background-color: #e8ffe8;
}

.call-detail-record-direction-out {
    background-color: #ffe3e3;
}

.call-detail-record-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}

.call-detail-record-buttons > * {
    margin-left: .5rem;
}
.call-detail-record-buttons > *:not(:last-child) {
    margin-right: .5rem;
}