body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f8ff;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.for-hover-opacity { opacity: .7 !important; }
.for-hover-opacity:hover { opacity: 1 !important; }

.for-hover {
  cursor: pointer;
}
.for-hover-link {
  cursor: pointer;
}
.for-hover-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.button-icon {
  cursor: pointer;
  opacity: .7 !important;
}
.button-icon:hover {
  opacity: 1 !important;
}