.calls-log-progress-bar {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #eee;
    border-radius: .25rem;
    overflow: hidden;
    transition: .1s;
}

.calls-log-progress-bar:hover {
    height: 7px;
}

.calls-log-progress {
    height: 100%;
    width: 0%;
    background-color: #4183c4;
    transition: .1s;
}